<md-card class="contact-card">
  <md-card-header>
    <div md-card-avatar class="contact-header-image"></div>
    <md-card-title>{{ contact?.name }}</md-card-title>
    <md-card-subtitle>{{ contact?.job }}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="//via.placeholder.com/350x200/E8117F/FFFFFF?text=Image">
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions>
    <a md-raised-button color="primary" routerLink="create-contact">New</a>
    <button md-raised-button color="warn" (click)="removeContact()">Remove</button>
  </md-card-actions>
</md-card>
